.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

  body {
    background: #e2e1e0;
    text-align: center;
  }
  
  .card {
    background: rgba(206, 20, 20, 0.308);
    border-radius: 2px;
    display: inline-block;
    height: 40%;
    margin: 1rem;
    position: relative;
    width: 300px;
  }

  .example_a {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #f80404;
    
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    height:30px;
    width:40%;
    }
    .example_a:hover {
        background: #434343;
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(235, 46, 46, 0.925);
        -moz-box-shadow: 0px 5px 40px -10px rgba(248, 54, 54, 0.918);
        box-shadow: 5px 40px -10px rgba(248, 49, 49, 0.89);
        transition: all 0.4s ease 0s;
        }
        #rem {
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
        }

        